.bordered{
    border: 1px solid #007fff;
}

.main_font{
    font-size: 12px;
}

.header-list-of-cards{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #007fff;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: white;
}

.delimiter{
    margin-top: 5px;
    margin-right: 10px;
    margin-right: 10px;
    border-top: double #007fff;
    margin-bottom: 5px;
}

.list-of-cards{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}